<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanparks.sanscan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".SANscan"
        android:allowBackup="true"
        android:allowTaskReparenting="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="false"
        android:theme="@style/AppTheme" android:requiredForAllUsers="true" android:enabled="false">
        <activity
            android:name=".WizardEntryStartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:description="@string/title_wizard_entry_start"
            android:label="@string/title_activity_wizard_entry_start"
            android:multiprocess="false"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.abbyy.sanparks.mobile.ocr4.RecognitionService" />

        <activity
            android:name=".EntryListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckListActivity"
            android:label="@string/title_check_detail"
            android:parentActivityName=".EntryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sanscan.EntryListActivity" />
        </activity>
        <activity
            android:name=".CheckDetailActivity"
            android:label="@string/title_check_detail"
            android:parentActivityName=".CheckListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sanparks.sanscan.CheckListActivity" />
        </activity>
        <activity
            android:name=".PassengerListActivity"
            android:label="@string/title_passengers"
            android:parentActivityName=".PassengerListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sanparks.sanscan.CheckDetailActivity" />
        </activity>
        <activity
            android:name="com.abbyy.sanparks.mobile.ocr4.PreferencesActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.abbyy.sanparks.mobile.ocr4.RecognitionActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.abbyy.sanparks.mobile.ocr4.ProcessResultsActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name=".WizardEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_wizard_entry"
            android:parentActivityName=".EntryListActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sanparks.sanscan.EntryListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WizardEntryVehicleDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_vehicle_detail"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".WizardEntryAircraftDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_aircaft_detail"
            android:parentActivityName=".WizardEntryActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sanparks.sanscan.WizardEntryActivity" />
        </activity>
        <activity android:name="com.abbyy.sanparks.mobile.ocr4.PickImageActivity" >
        </activity><activity android:name=".SplashActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/title_activity_splash" android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
